.element__delete-button {
    background: transparent url(../../../images/delete_icon.svg) no-repeat;
    border: none;
    height: 19px;
    width: 18px;
    padding-top: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    transition: opacity .9s;
    cursor: pointer;
}

.element__delete-button:hover {
    opacity: 0.6;
}