.profile__edit-button {
    background: transparent url(../../../images/Vector_edit.png) no-repeat;
    border: none;
    width: 24px;
    height: 24px;
    border: 1px solid #ffffff;
    background-position: 50%;
    margin-top: 15px;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
    transition: 0.5s;
}

@media screen and (max-width:640px) {
    .profile__edit-button {
        background-size: 8px;
        width: 18px;
        height: 18px;
        margin-top: 8px;
    }
}