.profile__edit-button {
    background: transparent url(../../../images/Edit_Button.svg) no-repeat;
    border: none;
    width: 24px;
    height: 24px;
    margin-top: 15px;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
    transition: 0.5s;
}

@media screen and (max-width:640px) {
    .profile__edit-button {
        background:url(../../../images/Edit\ Button\ small.svg);
        width: 18px;
        height: 18px;
        margin-top: 8px;
    }
}