.popup__save {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    min-height: 50px;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 41px;
    font-size: 18px;
    line-height: 22px;
    opacity: 1; 
}

.popup__save:hover {
    opacity: .8;
    transition: opacity .2s ease;
}

@media screen and (max-width:576px) {
    .popup__save {
        margin-top: 41px;
        font-size: 14px;
        line-height: 17px;
    }
} 