.profile__subtitle {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    max-width: 294px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width:640px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 16px;
        align-self: center;
        max-width: 282px;
    }
}