.element__like-button_active {
    background: transparent url(../../../../images/likeActive.svg) no-repeat;
    border: none;
    width: 22px;
    height: 19px;
    cursor: pointer;
    padding-right: 15px;
}