.footer {
    max-width: 880px;
    width: calc(100% - 400px);
    margin: 67px auto 0;
    padding-bottom: 60px;
}

@media screen and (max-width:1080px) {
    .footer {
        width: calc(100% - 200px);
    }
}

@media screen and (max-width:768px) {
    .footer {
        width: calc(100% - 100px);

    }
}

@media screen and (max-width:568px) {
    .footer {
        width: calc(100% - 38px);
        margin-top: 48px;
        padding-bottom: 36px;
    }
}

