.popup__save {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    min-height: 50px;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
}

.popup__save:disabled {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    cursor: default;
    opacity: .2;
}

.popup__save:hover {
    opacity: 0.8;
    transition: 0.5s;
}

@media screen and (max-width:576px) {
    .popup__save {
        font-size: 14px;
        line-height: 17px;
    }
}